<!DOCTYPE html>
<html>
   <head>
      <title>{{report.title}}</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   </head>
   <body>
      <div class="front-page">
         <img src="{{imagesPath}}/coverimage.jpeg" alt="" />
         <div class="meta">
            <h4>
               <strong>Site Assessment Report</strong>{{report.address}}
            </h4>
            <p>Produced By <span class="tab">: {{report.author}}</span></p>
            <p>Date Produced : {{created.date}}</p>
         </div>
      </div>
      <div class="cover-page">
         <div class="image">
            <img src="{{imagesPath}}/cover-image.png" alt="" />
         </div>
         <div class="card">
            <div>
               <h1>Site Assessment Report</h1>
               <ul>
                  <li>
                     <img src="{{imagesPath}}/rep1.jpg" />{{report.title}}
                  </li>
                  <li><img src="{{imagesPath}}/rep2.jpg" />{{report.constraintName}}</li>
                  <li>
                     <img src="{{imagesPath}}/rep3.jpg" />{{report.address}}
                  </li>
                  <li>
                     <img src="{{imagesPath}}/rep4.jpg" />Report generated {{created.ago}}
                  </li>
               </ul>
            </div>
            <div>
               <h4>BASIC SITE DETAILS</h4>
               <p><strong>Region: </strong>{{report.siteOverview.region}}</p>
               <p><strong>Local Authority: </strong>{{report.siteOverview.county}}</p>
               <p><strong>Region: </strong>{{report.siteOverview.local_authority}}</p>
               <p><strong>Ward: </strong>{{report.siteOverview.ward}}</p>
               <p><strong>Parish: </strong>{{report.siteOverview.parish}}</p>
            </div>
         </div>
      </div>
      <div class="datasets-page">
         {{#each report.datasets}}
         <div class="dataset-card">
            <div class="dataset-image">
               <a href={{image}}><img src="{{image}}" alt="" /></a>
            </div>
            <div class="dataset-report">
               <h1>{{name}}</h1>
               <h4>{{group}}</h4>
               <div class="dataset-report-item">
                  <img src="{{imagesPath}}/icon1.jpg" alt="" />
                  <h3>Automated Report</h3>
                  {{#if message.automated}}
                  <p>{{{message.automated}}}</p>
                  {{/if}}
               </div>
               <div class="dataset-report-item">
                  <img src="{{imagesPath}}/icon2.jpg" alt="" />
                  <h3>Custom Notes</h3>
                  {{#if message.customized}}
                  <p>{{{message.customized}}}</p>
                  {{/if}}
               </div>
               <div class="dataset-report-item">
                  <img src="{{imagesPath}}/icon3.jpg" alt="" />
                  <h3>Risk Level</h3>
                  {{#if riskLevel.customized}}
                  <p>{{riskLevel.customized}}</p>
                  {{else}}
                  {{#if riskLevel.automated}}
                  <p>{{riskLevel.automated}}</p>
                  {{/if}}
                  {{/if}}
                  <div class="risk-level">
                     <div>
                        <img src="{{imagesPath}}/indecbg.jpg" alt="" />
                     </div>
                     <div>
                        <img src="{{imagesPath}}/indecbg.jpg" alt="" />
                     </div>
                     <div>
                        <img src="{{imagesPath}}/indecbg.jpg" alt="" />
                     </div>
                     <div>
                        <img src="{{imagesPath}}/indecbg.jpg" alt="" />
                     </div>
                     <div>
                        <img src="{{imagesPath}}/indecbg.jpg" alt="" />
                     </div>
                  </div>
               </div>
               <div class="dataset-report-item">
                  <img src="{{imagesPath}}/icon7.jpg" alt="" />
                  <h3>Importance</h3>
                  <p>{{importance.value}}</p>
                  <div class="risk-level">
                     <div>
                        <img src="{{imagesPath}}/indecbg.jpg" alt="" />
                     </div>
                     <div>
                        <img src="{{imagesPath}}/indecbg.jpg" alt="" />
                     </div>
                     <div>
                        <img src="{{imagesPath}}/indecbg.jpg" alt="" />
                     </div>
                     <div>
                        <img src="{{imagesPath}}/indecbg.jpg" alt="" />
                     </div>
                     <div>
                        <img src="{{imagesPath}}/indecbg.jpg" alt="" />
                     </div>
                  </div>
               </div>
               <div class="dataset-report-item">
                  <img src="{{imagesPath}}/icon6.jpg" alt="" />
                  <h3>Provider</h3>
                  <p>office for National statistics</p>
               </div>
               <div class="card-footer">
                  <p>This is footer text</p>
               </div>
            </div>
         </div>
         {{/each}}
      </div>
      </div>
   </body>
</html>
